<html>
<h1> Story Title: {{newStory.title}} </h1>
<p>{{newStory.text}}</p>
	<form action="{{ url_for('addWords', number_of_blanks = number_of_blanks, story_id = newStory.id)}}" method='post'>
		{% for word in range(number_of_blanks) %}
		    <input name="word{{range(number_of_blanks)[word]}}" id="word" type="text" placeholder="your word">
			<select name="lexical_category{{range(number_of_blanks)[word]}}" id="selection">
			    <option value="msn">Masculine Singular noun</option>
			    <option value="mpn">Masculine Plural noun</option>
			    <option value="fsn">Feminine Singular Noun</option>
			    <option value="fpn">Feminine Plural Noun</option>
		  	</select>
		  	<br>
	    {% endfor %}
	<input type="submit" name="mandar">
	</form>
</html>