<html>
	<head>
		<body>
				<h1>{{story.title}}</h1>
				<h2>Description: {{story.description}}</h2>
				<h3> Created by: YOU! Thank You! {{user_email}}
				<h4> <a href = "{{url_for('deleteStory', story_id = story.id)}}"> Delete Story </a> </h4>
				<h4> <a href = "{{url_for('editStory', story_id = story.id)}}"> Edit Story </a> </h4>
				<h5> Here is your Mad Lib String: </h5>
				<p>{{story.text}}</p>
				<h5> Here is your Mad Lib With Example Words:</h5>
				<p>{{exampleStory}}</p>
				<a href="{{url_for('showStories')}}"> Go Back </a>
		</body>
	</head>
</html>